*{
    margin: 0;
    padding: 0;

}
body{
    background: url("https://i.pinimg.com/736x/cf/59/82/cf59821eabc77942bc0100ebfd3551d4.jpg");
    
    background-size: 280%;
    background-position: -400px; 0px;
}
