p.dotted{
    border-style:dotted;
    color:yellowgreen;
}
p.dashed{
    border-style:dashed;
    color:rgb(22, 230, 22)
}
p.solid{
    border-style:solid;
    color:rgb(243, 17, 40)
}
p.dashed{
    border-style:dashed;
    color:rgb(11, 220, 38)
}
p.double{
    border-style:double;
    color:rgb(11, 235, 231)
}
p.groove{
    border-style:groove;
    color:rgb(56, 6, 237)
}

p.ridge{
    border-style:ridge;
    color:rgb(253, 13, 253)
}